li {
    list-style: none;
}

h2 {
    font-size: 50px;
}

a {
    color: aliceblue;
}

.recipe-ingredients {
    background-color: #f0f0f0;
    padding: 20px;
}

.recipe-ingredients h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-ingredients ul {
    list-style-type: none;
    padding: 0;
}

.recipe-ingredients li {
    font-size: 18px;
    margin-bottom: 10px;
}
