<h1>11</h1>

<h2 class="m-5 text-center">Dettagli Del Cocktail</h2>

<ul *ngFor="let drinks of drinks">
    <li>
        <h3>Coktail: {{drinks.strDrink}}</h3>
        <img [src]="drinks.strDrinkThumb" />
        <h4>INGREDIENTS</h4>
    </li>
    <li>{{drinks.strIngredient1}}</li>
    <li>{{drinks.strIngredient2}}</li>
    <li>{{drinks.strIngredient3}}</li>
    <li>{{drinks.strIngredient4}}</li>

    <button>
        <a routerLink="/home"> Home</a>
    </button>
</ul>


<!-- /*<div class="recipe-ingredients"> -->
<!-- <h2>INGREDIENTS</h2>
    <ul>
        <li>1 oz Coconut Rum</li>
        <li>1/2 oz Amaretto</li>
        <li>4 oz Orange Juice</li>
        <li>1/2 oz Grenadine</li>
    </ul>
</div> -->