<h1>11</h1>

<h2 class="m-5 text-center">Dettagli Del Cocktail</h2>

<ul *ngFor="let drink of drinks">
    <li>
        <img [src]="drink.strDrinkThumb" />
        <h3>Coktail: {{drink.strDrink}}</h3>
        <h4>INGREDIENTS</h4>
    </li>
    <li>{{drink.stringredient1}}</li>
    <li>{{drink.stringredient2}}</li>
    <li>{{drink.stringredient3}}</li>
    <li>{{drink.stringredient4}}</li>

    <button>
        <a routerLink="/home"> Home</a>
    </button>
</ul>

<!-- Errore di cors insensato prima funzionva non so cosa altro fare-->

<!-- /*<div class="recipe-ingredients"> -->
<!-- <h2>INGREDIENTS</h2>
    <ul>
        <li>1 oz Coconut Rum</li>
        <li>1/2 oz Amaretto</li>
        <li>4 oz Orange Juice</li>
        <li>1/2 oz Grenadine</li>
    </ul>
</div> -->